:root {
  --nav-width: 720px;
  --main-width: 720px;
  --code-block-bg: rgb(49, 54, 63);
  --theme: rgb(240, 240, 240);
  --top-margin: 32px;
  --header-height: 96px;
  --title-weight: 300;
  --heading-weight: 400;
}

.header {
  margin-top: var(--top-margin);
}

.page-header, .post-header {
  margin-top: 0px;
}

.main {
  min-height: calc(99vh - var(--top-margin) - var(--header-height) - var(--footer-height));
}

.post-footer hr {
  margin: 30px 0;
  height: 2px;
  background: var(--tertiary);
  border: 0;
}

h1,h2,h3,h4 {
  font-weight: var(--heading-weight);
}

.logo a {
  font-size: 48px;
  font-weight: 300;
  font-weight: var(--title-weight);
}

.logo svg {
  height: 96px;
  width: 96px;
  padding-right: 8px;
}

.logo svg path {
  fill: var(--primary)
}

.logo.title-small a {
  font-size: 24px;
}

.logo.title-small svg {
  height: 48px;
  width: 48px;
}

.about-author {
  display: flex;
  margin: var(--gap) 0px;
  margin-bottom: calc(3 * var(--gap));
  gap: var(--gap);
}

.about-author img {
  border-radius: 8px;
  width: 128px;
  height: 128px;
}

.about-author > :last-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.social-icons a {
  border: var(--primary) solid 2px;
  border-radius: 8px;
  padding: 4px;
}

.social-icons a svg {
  height: 18px;
  width: 18px;
}

figure {
  width: 80%;
  margin: auto;
}

.post-content figure img {
  display: block;
  margin: 1em auto;
}

.post-content figure > figcaption {
  font-weight: 300;
  text-align: center;
  font-style: italic;
}